/* Réinitialisation des marges et du box-sizing */
* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    max-width: 1920px;
    max-height: 1080px;
}

/* Style général de la page */
body {
    font-family: Arial, sans-serif; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    min-height: 100dvh; 
    background-color: #0f0f0f
}

/* Conteneur principal pour le jeu */
.gamebonus-page {
    width: 100%; 
    border-radius: 1vw; 
    display: flex;
    flex-direction: row;
    padding: 1vw; 
    gap: 1vw;
}

/* Zone de texte */
.zone-texte {

    background-color: #333333; 
    border-radius: 1vw; 
    padding: 3vw; 
    flex: 1; 
    flex-direction: column; 
    text-align: center; 
}

/* Titres dans la zone de texte */
h1 {
    font-size: 4vw; 
    font-weight: bold;
    color: #F57C00; 
    border-bottom: 2px solid #444444;
    padding: 1vw;
}

h2{
    font-size: 2vw;
    color: #A3A3A3; 
    text-align: center;
    padding: 1vw;
}

h3 {   
    font-size: 1vw;
    color: #f57b00cb; 
    text-align: center;
    padding: 1vw;
}

h4 {   
    font-size: 1vw;
    color: #A3A3A3;
    text-align: center;
    padding: 3vw;
}



.zone-texte input[type="text"] {
    width: 75%; 
    padding: 1vw ; 
    border-radius: 1vw; 
    border: 1px solid #444444; 
    background-color: #222222;
    color: #E0E0E0; 
    font-size: 1vw; 
    margin-bottom: 1vw;

}

.zone-texte input[type="submit"] {
    width: 25%; 
    padding: 1vw; 
    font-size: 1.2vw; 
    font-weight: bold; 
    border: none; 
    border-radius: 1vw; 
    background-color: #3A506B; 
    color: #E0E0E0;
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s; 
}

.zone-texte input[type="submit"]:hover {
    background-color: #F57C00;
}

/* Clavier virtuel */
.keyboard {
    padding: 1vw;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
  }

.keyboard-ligne {
        display: flex;
        justify-content: space-around; 
        gap: 0.5vw; 
        margin-bottom: 1vw;
    }
    


.keyboard-ligne button {
    flex: 1; 
    aspect-ratio: 1 / 1; 
    font-size: 1.5vw; 
    padding: 0.5vw;
    background-color: lightgray;
    border: 2px solid #ccc;
    border-radius: 0.5vw; 
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    
}

/* Boutons vides */
.keyboard-ligne .empty {
    visibility: hidden; 
    border: none; 
    background-color: transparent; 
  }

.keyboard-ligne button:hover {
    background-color: #555555;
}

/* Zone pendu */
.zone-image {
    background-color: #333333; 
    border-radius: 1vw; 
    padding: 2vw; 
    flex-direction: column; 
    flex: 1; 
    align-items: center; 
    gap: 3vw; 
}

.zone-image img {
    max-width: 100%; 
    border-radius: 2vw; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}


/* Zone de pause */
.zone-pause {
    width: 100%;
    padding: 0.1vw; 
    background-color: #333333; 
    color: #E0E0E0;
    text-align: center; 
    border-radius: 1vw; 
    gap: 1vw; 
    display: flex;
    flex-direction: column;


}


/* Ajout de l'effet de survol pour le bouton de pause pour cohérence */
.pause-container button:hover {
    background-color: #555555;
}

/* Boutons génériques */
.button {
    width: 25%; 
    padding: 1vw; 
    font-size: 1.2vw; 
    border: none; 
    border-radius: 1vw; 
    background-color: #3A506B; 
    color: #E0E0E0;
    cursor: pointer; 
    margin: 0.5vw; 
    transition: background-color 0.3s ease, transform 0.2s; 
}

.button:hover {
    background-color: #F57C00;
    transform: scale(1.05); 
}
