<!DOCTYPE html>
<html lang="fr">
<head>
        <meta charset="UTF-8">
        <title>Hangman</title>
        <link rel="stylesheet" href="/static/css/credit.css">
</head>
<body>
    <!-- Affocher les crédits -->
    <h1>Crédits</h1>
        <div class="credit">
            <p>Thomas</p>
            <p>Ilies</p>
            <p>Kenzi</p>
            <p>Maël</p>
            <p>Léo</p>
        </div>

    <!-- Bouton back -->
    <div class="back-container">
        <form action="/start" method="post">
            <button class="button"name="button" value="Back">Back</button>
        </form>
    </div>
</body>
</html>
