<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Hangman</title>
    <link rel="stylesheet" href="/static/css/pause.css">
</head>

<body class="Pause-page">

    <h1>Pause</h1>
    
    <div class="container">

        <form method="post">
            <button class="button" name="button" value="Reprendre" onclick="history.back()">Reprendre</button>
        </form>
    
        <form method="post">
            <button class="button" name="button" value="Nouvellepartie">Nouvelle partie</button>
        </form>

		<form action="https://www.google.com/" method="get">
            <button class="button" type="submit">Quitter</button>
        </form>  
	</div>
</body>
</html>