<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Hangman</title>
    <link rel="stylesheet" href="/static/css/start.css">
</head>
<body class="start-page">

    <h1>Jeu du Pendu</h1>
    
    <div class="container">
        <!-- Formulaire pour commencer le jeu -->
        <form action="/difficult" method="post">
            <button class="button"name="button" value="jouer">Jouer</button>
        </form>
        
        <!-- Formulaire pour afficher les crédits -->
        <form action="/credit" method="post">
            <button class="button" name="button" value="credits">Crédits</button>
        </form>
    </div>
</body>
</html>